{{#each this}}
    <a href='{{largeImageURL}}' class='gallery__link'>
        <div class='photo-card'></div>
     <div class="img-wrapper">
       <img
        src='{{webformatURL}}'
        alt='{{tags}}'
        loading='lazy'
        class='gallery__image'
      />
     </div>
      <div class='info'>
        <p class='info__item'>
          <b>Likes: {{likes}}</b>
        </p>
        <p class='info__item'>
          <b>Views: {{views}}</b>
        </p>
        <p class='info__item'>
          <b>Comments: {{comments}}</b>
        </p>
        <p class='info__item'>
          <b>Downloads: {{downloads}}</b>
        </p>
      </div>
      </div>
    </a>
  
{{/each}}